.headerIcon {
    margin-right: 1rem;
}

.bodyCard {
    background-color: var(--lwc-workspaceCardColorBackground,#F4F6F9);
    display: flex;
    height: var(--lwc-workspaceTileHeight,12.5rem);
    padding: 1rem;
    width: 48.5%;
}

.bodyCard:hover {
    cursor: pointer;
    border-color: rgb(6, 28, 63);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.bodyCardContent {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.bodyCardIcon {
    width: fit-content;
    margin: auto;
}

.mainHelp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}